*{
font-family: Verdana,sans-serif;
}

body{
margin: 15px;
}

ul{
list-style: square;
}

.column1 {
  float: left;
  width: 70%;
}

.column2 {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}