img.boat {
  float: left;
  margin: .5em; 
  shape-outside: polygon(100% 0, 79% 57%, 60% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 79% 57%, 60% 100%, 0 100%, 0 0);
  width: 280px; 
  height: 360px;
}