* {
  font-family: Verdana, sans-serif;
}

body {
  margin: 15px;
}

ul {
  list-style: square;
}

.column1 {
  float: left;
  width: 70%;
}

.column2 {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hero-title {
  color: white;
  transition: color 0.5s ease;
}

.hero-title:hover {
  color: lightblue;
}

img {
  opacity: .5;
  /* border-color: lightblue; */
  border-style: solid;
  border-width: 2rem;
  transition: 0.75s ease-in-out;
}

img:hover {
  border-color: lightblue;
  border-style: solid;
  border-width: .25rem;
  opacity: 1;
}